<form>
  <div class="form-group">
    <div class="input-group has-success ">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Username" >
    </div>
  </div>
    <div class="form-group">
      <div class="input-group has-warning ">
        <input type="text" class="form-control" placeholder="Recipient's username" >
        <span class="input-group-addon">@example.com</span>
      </div>
    </div>
  <div class="form-group">
    <div class="input-group has-error">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" >
      <span class="input-group-addon">.00</span>
    </div>
  </div>
</form>