

<!-- ******************ROUTING********************  -->
	<h1>Routing example</h1>
	<ul>
		<li style="display:inline;">
			<a routerLink="/home/1234">Home</a>
		</li>
		<li style="display:inline;">
			<a routerLink="/about">About</a>
		</li>
		<li style="display:inline;">
			<a routerLink="/contact">Contact</a>
		</li>
		<li style="display:inline;">
			<a routerLink="/services">Services</a>
		</li>
		<li style="display:inline;">
			<a routerLink="/header">Header</a>
		</li>
	</ul>



<router-outlet></router-outlet>


<!-- ***************************** -->

<form>
	Email:<input type="email" name="email" #email>
	Pwd:<input type="password" name="password" #password>
	<input type="submit" name="submit" (click) = "goToOtherRoute( email.value, password.value)">
</form>


